body{
    margin: 0;
    padding-left: 30px;
    -webkit-font-smoothing: none;
    font-family: "pokemon-font", monospace;

    
}

header{
    background-image: url(./webp/images/haeder_back.jpg); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    padding: 0 0 40px 30px;
    
    textarea{
        width: 50%;
        height: 17px;
        &::placeholder{
            font-size: 15px;
        }
    }
    div{
        display: flex;
        flex-direction: row;
        align-items: center;

        img{
            height: 20px;
            width: 20px;
            padding-right: 10px;

        }
    }
}

main{
    button{
        height: 30px;
        width: 100px;
        color: black;
        background: linear-gradient(#ffd500, #ffe666);
        font-size: 15px;
        border: solid 1px gray;
    }

    table{
        border-collapse: collapse;
        width: 75%;
        background: #2a2a2a;
        color: white;
        border-radius: 10px;
        overflow: hidden;
        margin: 20px;

        thead{
            background: linear-gradient(#ff3d3d, #c10000);
            height: 35px;
        }
        tbody{
            tr{
                border: solid 1px gray;
                transition: 0.2s;
                &:hover{
                    background: #444;
                    transform: scale(1.01);
                }
                td, th {
                    padding: 10px;
                    text-align: center;
                }
            }
            
        }
        
        
        th:last-child,
        td:last-child{
            border-right: none;

        }
    }
}