body{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: none;
    font-family: "pokemon-font", monospace;
}

header{
    
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;

    textarea{
        width: 50%;
        height: 17px;
        &::placeholder{
            font-size: 15px;
        }
    }
}

main{
    button{
        height: 30px;
        width: 100px;
        background-color: rgb(100, 177, 228);
        border: solid 1px gray;
    }

    table{
        border-collapse: collapse;
        width: 75%;
        margin: 20px;
        
        border: 1px solid rgba(110, 110, 110, 0.7);
        tbody{
            tr{
            
                border: solid 1px gray;
                border-radius: 5px;
                background-image: url(./webp/images/fonds_pokedex.jpg);
            
            }
        }
        
        th,
        td{
            padding: 10px 14px;
            
        }
        th:last-child,
        td:last-child{
            border-right: none;

        }
    }
}